*



.aboutUs {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #698269;
}

body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin-right: 0;
    
}

.view {
    background-image: url('./images/bg00.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pau {
   padding-top: 100px;
    padding-bottom: 100px;
    background-color: #B99B6B;
}

.projects {
   padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F1DBBF;
}

.tools {
   padding-top: 100px;
    padding-bottom: 100px;
    background-color: #AA5656;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

